
    <div class="row">
        
        <div id="login" class="col s6 offset-s3">

          {{#if resetError}}
            <p class="alert">{{ resetError}}</p>
          {{/if}}
        <h1>Access recovery</h1> 
        <form action="/auth/password" method="POST">
        <div class="input-field">
          <input id="password" name="password" type="password" class="validate" required>
          <label for="password">New password</label>
          <span class="helper-text" data-error="Enter password" ></span>
        </div>
          
          <input type="hidden" name="_csrf" value="{{csrf}}">
          <input type="hidden" name="userID" value="{{userID}}">    
          <input type="hidden" name="token" value="{{token}}">

        <button class="btn btn-primary" type="submit">Change password</button>
        </form> 
        </div>
    </div>